name: GSAP Update - Build Module

on:
  pull_request:

jobs:
  build:
    if: contains(github.event.pull_request.labels.*.name, 'GSAP Release')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build module
        run: npm run build
